<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--Grafica inicia-->
                <h3>Sales</h3>
                <div style="display:block">
                    <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        chartType="doughnut"
                        >
                    </canvas>
                </div>
                <!--Grafica Finaliza-->
            </div>
        </div>
    </div>
</div>